@import '../../helpers/variableBreakPoints.scss';

div.themeButton > button {
  padding: 0.5em 1em;
  border: 1px solid gray;
  border-radius: 5px;
}

div.themeButton.light > button {
  color: $light_textColor;
  background-color: $light_backgroundColor;
}

div.themeButton.dark > button {
  color: $dark_textColor;
  background-color: $dark_primaryColor;
}
