// Dark Theme Colors
$dark_textColor: #e7f6f2;
$dark_backgroundColor: #2c3333;
$dark_primaryColor: #395b64;
$dark_secondaryColor: #a5c9ca;

// Light Theme Colors
$light_textColor: #000000;
$light_backgroundColor: #ffffff;
$light_primaryColor: #6e85b7;
$light_secondaryColor: #b2c8df;
